#app-grid {
    layout: grid;
    grid-size: 2; 
    background: $panel;
}

.hrow {
    height: auto;
    margin: 1;
    background: $panel;
}

#top-left {
    row-span: 2;
    border: dodgerblue;
}

#top-right {
    row-span: 1;
    background: $panel;
    border: dodgerblue;
}

#bottom-right {
    row-span: 1;
    border: dodgerblue;
}

Button {
    margin: 1;
}

