
PVTextMonitor {
    height: auto;
    width: auto;
    /* max-width: 25; */
    /* min-width: 4; */
    text-opacity: 60%;
    background: $boost;
}

Horizontal {
    padding: 0;
    margin: 1;
}

Button {
    padding: 0;
    margin: 0;
}
