#app-grid {
    layout: grid;
    grid-size: 2; 
    grid-columns: 1fr;
    grid-rows: 1fr;
    /* background: $panel; */
}

.hrow {
    height: auto;
    margin: 1;
}

.hrow > PVTextMonitor {
    background: $boost;
    width: auto;
    height: auto;
}

#top-left {
    width: 100%;
    height: 100%;
    row-span: 2;
    border: dodgerblue;
}

#top-right {
    row-span: 1;
    border: dodgerblue;
}

#bottom-right {
    row-span: 1;
    border: dodgerblue;
}

PVButton {
    margin: 1;
    min-width: 16;
    min-height: 1;
    padding: 0;
    text-align: center;
    border: wide $accent;
}
